<div class="media">
  <div class="media-body">
    <div class="media-section">
      <% if @user == current_user %>
        <h1> Hello <%= @user.first_name %>!</h1>
        <% else %>
        <h1> Check out <%= @user.first_name %>'s profile !</h1>
        <% end  %>
        <h4> Member since <%= @user.created_at.year %></h4>
        <% avatar_url = @user.facebook_picture_url || @user.photo %>
        <%= cl_image_tag avatar_url, class: 'avatar-large'  %>
        <% if @user == current_user %>
          <div>
            <%= link_to "Edit Profile", edit_user_registration_path(current_user) %>
          </div>
          <% end %>
    </div>
    <div class="media-section">
      <h2>Description</h2>

        <p><%= @user.description %></p>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
    <% if @user == current_user %>
      <h1>Your skills</h1>
      <% else %>
      <h1> <%= @user.first_name %>'s skills </h1>
      <% end  %>
        <% @user.skills.each do |s|%>
          <h4><%= s.title %></h4>
          <% image_url = s.photo.present? ? cl_image_path(s.photo, height: 100, width: 100, crop: :thumb) : asset_url('youpi-default.jpg') %>
         <%= image_tag image_url, class: 'skill-image'%>
         <% end %>
    </div>
    <div class="media-section">

    </div>
  </div>
</div>
