<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h1><%= @skill.title %></h1>
        <h3><%= @skill.city %></h3>
        <p><%= @skill.description %></p>
        <% @skill.reviews.each do |review| %>
          <p><%= review.title %></p>
          <p><%= review.description %></p>
        <% end %>
        <% image_url = @skill.photo.present? ? cl_image_path(@skill.photo, height: 200, width: 200, crop: :thumb) : asset_url('youpi-default.jpg') %>
          <%= image_tag image_url, class: 'image-size'%>
      </div>

      <% if @skill.user == current_user %>
        <p><%= link_to 'Edit skill' , edit_skill_path(@skill) %></p>
      <% elsif current_user!= nil %>


        <div class="formulaire">
          <%= simple_form_for [@skill, @booking] do |f| %>
            <%= f.error_notification %>

            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.hidden_field :status, value: "pending" %>
            <%= f.submit 'Book it!', class: "btn btn-success" %>
          <% end %>
        </div>

        <% content_for(:after_js) do %>
          <script type="text/javascript">
            $('#booking_start_date').datepicker({
            });
            $('#booking_end_date').datepicker({
            });
          </script>
        <% end %>

        <div class="text-center">
        <p><%= link_to "Back to list of skills", skills_path(@skill), class: "btn btn-info back-button" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
