<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h1><%= @skill.title %></h1>
        <h3><%= @skill.city %></h3>
        <p><%= @skill.description %></p>
        <% @skill.reviews.each do |review| %>
          <p><%= review.title %></p>
          <p><%= review.description %></p>
        <% end %>
        <% image_url = @skill.photo.present? ? cl_image_path(@skill.photo, height: 200, width: 200, crop: :thumb) : asset_url('youpi-default.jpg') %>
          <%= image_tag image_url, class: 'image-size'%>
        <% if @skill.user == current_user %>
            <p><%= link_to 'Edit skill' , edit_skill_path(@skill) %></p>
          <% elsif current_user!= nil %>
            <p><%= link_to "Book it!", new_skill_booking_path(@skill) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
