<div class="wraper-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
      <div class="skill-details">
        <div class="text-center">
            <h1><%= @skill.title %></h1>
            <h3><%= @skill.city %></h3>
            <p><%= @skill.description %></p>
            <% @skill.reviews.each do |review| %>
              <div class="product">
                <% avatar_url = review.booking.user.facebook_picture_url || review.booking.user.photo %>
                <%= cl_image_tag avatar_url, class: 'avatar-xl profile-picture product-image hidden-xs' %>
                <div class='product-body'>
                <h3><%= review.title %></h3>
                <p><%= review.description %></p>
                <p><%= review.rating %></p>
                </div>
              </div>
            <% end %>
            <% image_url = @skill.photo.present? ? cl_image_path(@skill.photo, height: 200, width: 200, crop: :thumb) : asset_url('youpi-default.jpg') %>

              <%= image_tag image_url, class: 'image-size'%>
          </div>
        </div>

        <div class="avatar-skillshow-pic">
          <%= link_to user_path(@skill.user) do %>
          <% avatar_url = @skill.user.facebook_picture_url || @skill.user.photo || "http://placehold.it/30x30"%>
          <%= image_tag avatar_url, class: 'avatar-xl'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @skill.user == current_user %>
      <div class="col-xs-12">
          <div class="map-skill">
            <div id="map" style="width: 100%; height: 300px; padding: 50px"></div>
          </div>
        </div>

      <div class="col-xs-12">
        <p class="text-center"><%= link_to 'Edit skill' , edit_skill_path(@skill), class: "btn btn-primary" %></p>
      </div>
    <% elsif current_user!= nil %>
      <div class="col-xs-12 col-sm-6">
        <div class="map-skill">
          <div id="map" style="width: 100%; height: 300px; padding: 50px"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
          <div class="formulaire skill-formulaire">
            <%= simple_form_for [@skill, @booking] do |f| %>
              <%= f.error_notification %>

              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.hidden_field :status, value: "pending" %>
              <%= f.submit 'Book it!', class: "btn btn-primary" %>
              <div class="final-price">
                  Final Price: <span id="final-pricing"></span>€
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <p><%= link_to "Back to list of skills", skills_path(@skill), class: "btn btn-info back-button" %></p>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      $('#booking_start_date, #booking_end_date').change(function(e){
        var start = $('#booking_start_date').val();
        var end = $('#booking_end_date').val();
        var startDate = new Date(start);
        var endDate = new Date(end);
        var diffDays = parseInt((endDate - startDate) / (1000 * 60 * 60 * 24));
        var finalPrice = diffDays*<%= @skill.price %>;
        $('#final-pricing').html(finalPrice);
      });
    });
  <% end %>
<% end %>

