<div class="banner">
  <div class="banner-content">
    <h1>Rent a Skill</h1>
    <p>Need to hire a Skillman ?</p>
    <%= link_to "See all our skills", skills_path, class: "btn btn-primary" %>
    <%= form_tag(skills_path, :method => "get", class: "search-bar") do %>

    <div class="form-text-fields col-xs-12">
      <%= text_field_tag :search, params[:search], placeholder: "Search for a Skill", class: "search-input" %>
      <%= text_field_tag :start_date, params[:start_date], placeholder: "mm/dd/yyyy", class: "search-datepicker" %>
      <%= text_field_tag :end_date, params[:end_date], placeholder: "mm/dd/yyyy", class: "search-datepicker" %>
    </div>
    <%= submit_tag "Find your skill", :name => nil, class: "search-btn btn btn-primary" %>
    <% end %>

  </div>
</div>


<div class="wraper-home">
  <h1 class="index-title text-center">What do we do?</h1>
  <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "add.svg", class: "avatar-xl" %>
            <%= link_to "", new_skill_path(@skill), class: "card-home-link"%>
            <h3 class= "card-home-title text-center">Add a Skill</h3>
            <p class="card-home-description">You have a special skill you want others to benefit from ? Upload it and enjoy great work opportunities !!</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "rent.svg", class: "avatar-xl" %>
            <%= link_to "", "#search-form", class: "card-home-link"%>
            <h3 class= "card-home-title text-center">Access Skills</h3>
            <p class="card-home-description">Need a DJ for your party ? A magician for your son's birthday ? Just ask one of our skillmen and enjoy
            unprecedented qualified services !</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "lightbulb.svg", class: "avatar-xl" %>
            <%= link_to "", skills_path, class: "card-home-link"%>
            <h3 class= "card-home-title text-center">Need inspiration ?</h3>
            <p class="card-home-description">You want to discover something great ? Scroll all our skills and find the exact idea you were looking for !</p>
          </div>
        </div>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('#start_date').datepicker({
    });
    $('#end_date').datepicker({
    });
  </script>
<% end %>


