<div class="banner">
  <div class="banner-content">
    <h1>Rent a Skill</h1>
    <p>Need to hire a Skillman ?</p>
    <%= link_to "See all our skills", skills_path, class: "btn btn-primary" %>

      <%= form_tag(skills_path, :method => "get", id: "search-form", class: "search-bar") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a Skill", class: "search-input" %>
      <%= submit_tag "o", :name => nil, class: "search-btn" %>
      <% end %>

  </div>
</div>


<div class="wraper-home">
  <h1 class="index-title text-center">What do we do?</h1>
  <div class="container">
    <div class="row">
      <ul>
        <li>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "add.svg", class: "avatar-xl" %>
            <h3 class= "card-home-title text-center">Add a Skill</h3>
            <p class="card-home-description">You have a special skill you want others to benefit from ? Upload it and enjoy great work opportunities !!</p>
        </div>
        </div>
        </li>
        <li>
         <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "rent.svg", class: "avatar-xl" %>
            <h3 class= "card-home-title text-center">Access Skills</h3>
            <p class="card-home-description">Need a DJ for your party ? A magician for your son's birthday ? Just ask one of our skillmen and enjoy
            unprecedented qualified services !</p>
          </div>
        </div>
        </li>
        <li>
          <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">
            <%= image_tag "lightbulb.svg", class: "avatar-xl" %>
            <h3 class= "card-home-title text-center">Need inspiration ?</h3>
            <p class="card-home-description">You want to discover something great ? Scroll all our skills and find the exact idea you were looking for !</p>
        </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
