<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="skill-form padded-form">
        <h2 class="text-center">Edit your review</h2>
        <%= simple_form_for [@skill, @booking, @review] do |f| %>
          <p><%= f.input :title %></p>
          <p><%= f.input :description %></p>
          <p><%= f.input :rating %></p>
          <p><%= f.hidden_field :nature, value: "skillman" %></p>
          <%= f.submit method: :patch, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
